<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>detail</h1>
	
	<table border="1">
	<tr>
		<th>작성자</th>
		<td><input type="text" value="{{dto.myname}}" readonly="readonly"></td>
	</tr>
	<tr>
		<th>제목</th>
		<td><input type="text" value="{{dto.mytitle}}" readonly="readonly"></td>
	</tr>
	<tr>
		<th>내용</th>
		<td><textarea cols="60" rows="10" readonly="readonly">{{dto.mycontent}}</textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="right">
			<input type="button" value="수정" onclick="location.href='/updateform/{{dto.id}}'"/>
			<input type="button" value="삭제" onclick="location.href='/delete/{{dto.id}}'"/>
			<input type="button" value="목록" onclick="location.href='/ '"/>
		</td>
	</tr>
	</table>
</body>
</html>
















